<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="GP_1_FormatoFecha" value="dd/MM/yyyy" />
    <!-- Boletos: Ingresa recibo de cobro-->
    <add key="GP_10_CHEKBKID" value="BRADESCO" />
    <add key="GP_10_FechaFila" value="0" />
    <add key="GP_10_FechaCol" value="0" />
    <add key="GP_10_IniciaDatosFila" value="4" />
    <add key="GP_10_NumeroCobroCol" value="0" />
    <add key="GP_10_NumeroFacturaCol" value="1" />
    <add key="GP_10_CodigoLiquidacionCol" value="1" />
    <add key="GP_10_FechaVencimientoPagoCol" value="3" />
    <add key="GP_10_ValorBoletoCol" value="5" />
    <add key="GP_10_JurosCol" value="6" />
    <add key="GP_10_AbatimentoCol" value="6" />
    <add key="GP_10_ValorPagoCol" value="7" />
    <add key="GP_10_NombrePagadorCol" value="2" />
    <add key="GP_10_FechaTotalLiquidadoCol" value="4" />
    <add key="GP_10_FechaTotalLiquidadoAddDays" value="1" />
    <!-- Tarjeta de crédito: Ingresa recibo de cobro y nota de crédito-->
    <add key="GP_11_CHEKBKID" value="BRADESCO" />
    <add key="GP_11_FechaFila" value="0" />
    <add key="GP_11_FechaCol" value="0" />
    <add key="GP_11_IniciaDatosFila" value="3" />
    <add key="GP_11_NumeroCobroCol" value="5" />
    <add key="GP_11_NumeroFacturaCol" value="5" />
    <add key="GP_11_CodigoLiquidacionCol" value="5" />
    <add key="GP_11_FechaVencimientoPagoCol" value="2" />
    <add key="GP_11_ValorBoletoCol" value="6" />
    <add key="GP_11_JurosCol" value="8" />
    <add key="GP_11_AbatimentoCol" value="8" />
    <add key="GP_11_ValorPagoCol" value="7" />
    <add key="GP_11_NombrePagadorCol" value="3" />
    <add key="GP_11_FechaTotalLiquidadoCol" value="1" />
    <add key="GP_11_FechaTotalLiquidadoAddDays" value="0" />
</appSettings>
  <connectionStrings>
    <add name="GP_1" connectionString="data source=localhost;initial catalog=TWO;user id=sa;Password=sa0;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
	  <add name="GBRAEntities" connectionString="metadata=res://*/ModelCollectionsBS.csdl|res://*/ModelCollectionsBS.ssdl|res://*/ModelCollectionsBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TWO;persist security info=True;user id=sa;password=sa0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="GP_1" connectionString="data source=10.1.1.22;initial catalog=MEX10;user id=sa;Password=sa22;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GP_1" connectionString="data source=SAOTGPSQL01;initial catalog=GBRA;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GBRAEntities" connectionString="metadata=res://*/ModelCollectionsBS.csdl|res://*/ModelCollectionsBS.ssdl|res://*/ModelCollectionsBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAOTGPSQL01;initial catalog=GBRA;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--<add name="GBRAEntities" connectionString="metadata=res://*/ModelCollectionsBS.csdl|res://*/ModelCollectionsBS.ssdl|res://*/ModelCollectionsBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAOTGPSQL01;initial catalog=GBRA;persist security info=True;user id=sadmin;password=Brazil@15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>