<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="GP_1_FormatoFecha" value="MM/dd/yyyy" />
    <add key="GP_1_CHEKBKID" value="BRADESCO" />
    <add key="GP_1_FechaFila" value="2" />
    <add key="GP_1_FechaCol" value="7" />
    <add key="GP_1_IniciaDatosFila" value="4" />
    <add key="GP_1_NumeroCobroCol" value="0" />
    <add key="GP_1_NumeroFacturaCol" value="1" />
    <add key="GP_1_CodigoLiquidacionCol" value="0" />
    <add key="GP_1_FechaVencimientoPagoCol" value="3" />
    <add key="GP_1_ValorBoletoCol" value="5" />
    <add key="GP_1_JurosCol" value="6" />
    <add key="GP_1_AbatimentoCol" value="6" />
    <add key="GP_1_ValorPagoCol" value="7" />
    <add key="GP_1_NombrePagadorCol" value="2" />
    <add key="GP_1_FechaTotalLiquidadoCol" value="4" />
    <add key="GP_1_FechaTotalLiquidadoAddDays" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="GP_1" connectionString="data source=SAOTGPSQL01;initial catalog=GBRA;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="GBRAEntities" connectionString="metadata=res://*/ModelCollectionsBS.csdl|res://*/ModelCollectionsBS.ssdl|res://*/ModelCollectionsBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAOTGPSQL01;initial catalog=GBRA;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <!--<add name="GBRAEntities" connectionString="metadata=res://*/ModelCollectionsBS.csdl|res://*/ModelCollectionsBS.ssdl|res://*/ModelCollectionsBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAOTGPSQL01;initial catalog=GBRA;persist security info=True;user id=sadmin;password=Brazil@15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>